.activity {
  margin: 5rem 0;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    .content {
      transform: skew(5deg) rotate(-5deg) rotateX(25deg) translate3d(0, 0, 0);
      background-color: var(--accent-color2);
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem;
      border-radius: 5rem;
      box-shadow: 0 4px 8px 0 var(--orange);
      transition: 0.5s ease-in-out;
      &:hover {
      box-shadow: 0 4px 8px 0 var(--green);
      }
      .image {
        img {
          width: 5rem;
        }
      }
      .title {
        color: var(--accent-color1);
        font-family: var(--main-font);
        font-weight: 100;
      }
      .description {
        color: var(--accent-color3);

        line-height: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .activity {
    margin: 3.5rem 1rem;
    padding: 0 2rem;
    .container {
      grid-template-columns: 1fr;
      gap: 0;
      .content {
        padding: 1rem 2rem;
        border-radius: 2.5rem;
        &:nth-of-type(2) {
          background-color: var(--background);
        }
      }
    }
  }
}
