.releases {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .launch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5rem;
    transform: skew(-5deg) rotate(5deg) rotateX(25deg) translate3d(0, 0, 0);
      box-shadow: 0 4px 8px 0 var(--green);
      &:last-child {
         box-shadow: 0 4px 8px 0 var(--orange);
      }
    .content {
      padding: 5rem 8rem;

      display: flex;
      flex-direction: column;
      gap: 2rem;
      .title {
        font-size: 3rem;
        font-family: var(--main-font);
        font-weight: 100;
        text-align: center;
      }
      .description {
        font-size: 1.3rem;
        letter-spacing: -1px;
        a {
          color: black;
          font-weight: bold;
        }
      }
      .link {
        color: black;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        gap: 1rem;
        font-family: var(--main-font);
        letter-spacing: 1px;
        cursor: pointer;
        svg {
          font-size: 1.5rem;
        }
      }
    }
    .image {
      position: relative;
      overflow: hidden;
      text-align: center;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border-radius: 5rem;
      img {
        height: 37rem;
      }
      .ellipse {
        z-index: -1;
        position: absolute;
        bottom: -40%;
        right: 25%;
        height: 20rem;
        width: 20rem;

        filter: blur(100px);
      }
      .pink {
        background-color: var(--pink);
      }
    }
    .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      overflow: hidden;
      border-radius: 5rem;
      margin-top: 2rem;
      .card-image {
        img {
          height: 25rem;
        }
      }
      .ellipse {
        z-index: -1;
        position: absolute;
        bottom: -55%;
        left: 25%;
        height: 20rem;
        width: 20rem;
        filter: blur(100px);
      }
      .orange {
        background-color: var(--orange);
      }
    }
  }
  .orange {
    background-color: var(--orange);
  }
  .green {
    background-color: var(--green);
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .releases {
    margin: 3rem 0;
    gap: 0;
    .launch {
      border-radius: 2rem;
      grid-template-columns: 1fr;
      gap: 2rem;
      &:nth-of-type(1) {
        .image {
          grid-row: 1;
        }
      }
      .content {
        padding: 1rem 3.5rem;
        .title {
          text-align: left;
        }
        .link {
          margin-top: 1rem;
          padding-left: 1rem;
        }
      }
      .image {
        zoom: 0.5;
        img {
          height: 25rem;
        }
      }
      .card-container {
        zoom: 0.5;
        .card-image {
          img {
            height: 15rem;
          }
        }
      }
      .ellipse {
        display: none !important;
      }
    }
  }
}
